header,
nav {
    text-align: center;
}

hr.border {
    border-top: 1px solid #8A8070;
}

.nav-menu {
    text-decoration: none;
    margin: 8px;
    color: black;
}

.nav-menu:hover {
    color: green;
    text-decoration: none;
}

.side-bar {
    text-align: center;
}

.about-descript {
    color: gray;
}

.author-image {
    max-width: 100%;
}

.advertisement {
    background: lightgray;
}

.adv-linked {
    background: #7ABA96;
}

.main-container {
    padding: 1% 5%;
}

.post-container {
    padding: 4%;
}

h5 {
    text-align: center;
}

.post-title {
    font-weight: bold;
    color: black;
}

.post-title:hover {
    text-decoration: none;
    color: #7ABA96;
}

.post-date {
    text-align: center;
    border-top: solid green 1px;
    border-bottom: solid green 1px;
}

.post-description {
    text-align: justify;
}

.post-image {
    max-width: 100%;
}

img {
    object-fit: contain;
}

.footer {
    height: 100%;
    background-color: black
}

.foot-menu {
    text-decoration: none;
    margin: 15px;
    line-height: 5;
    text-align: center;
    color: white
}

.foot-menu:hover {
    text-decoration: none;
    color: #7ABA96;
}

.ingredients {
    text-align: left;
    margin-left: 1.5%;
    background-color: #c6bbb9;
}

.ing-list {
    margin-left: 1%;
    padding: 1%;
    background-color:   #c6bbb9
}

.instructions {
    text-align: left;
    margin-left: 1.5%;
    padding-top: 1%;
}

.steps {
    margin-left: 1%;
    padding: 1%;
}

.border2 {
    border-top: 1px solid black;
}

.ready {
    margin-left: 0.3%;
}

.ing-type {
    text-align: left;
}