header,
nav {
    text-align: center;
}

hr.border {
    border-top: 1px solid #8A8070;
}

.nav-menu {
    text-decoration: none;
    margin: 8px;
    color: black;
}

.nav-menu:hover {
    color: green;
    text-decoration: none;
}

.side-bar {
    text-align: center;
}

.about-descript {
    color: gray;
}

.author-image {
    max-width: 100%;
}

.advertisement {
    background: lightgray;
}

.adv-linked {
    background: #7ABA96;
}

.main-container {
    padding: 1% 5%;
}

.post-container {
    padding: 4%;
}

h5 {
    text-align: center;
}

.post-title {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.post-title:hover {
    text-decoration: none !important;
    color: #7ABA96;
}

.post-date {
    text-align: center;
    border-top: solid green 1px;
    border-bottom: solid green 1px;
}

.post-description {
    text-align: justify;
}

.post-image {
    max-width: 100%;
}

img {
    object-fit: contain;
}

.icon {
    width: 50px;
}

.padding-delete {
    padding: 0;
}


.footer {
    height: 100%;
    background-color: black
}

.foot-menu {
    text-decoration: none;
    margin: 15px;
    line-height: 5;
    text-align: center;
    color: white
}

.foot-menu:hover {
    text-decoration: none;
    color: #7ABA96;
}

.ingredients {
    text-align: left;
    margin-left: 1.5%;
    background-color: #c6bbb9;
}

.ing-list {
    margin-left: 1%;
    padding: 1%;
    background-color: #c6bbb9
}

.instructions {
    text-align: left;
    margin-left: 1.5%;
    padding-top: 1%;
}

.steps {
    margin-left: 1%;
    padding: 1%;
}

.border2 {
    border-top: 1px solid black;
}

.recipe-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 35px;
}

.recipe-list-item {
    margin-top: 15px;
    border: 2px solid #7ABA96;
    border-radius: 10px;
    max-width: 1140px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
  
  
.recipe-list-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #7ABA96;
    opacity: 0.3;
}

.recipe-list-item:hover .post-title {
    color: #7ABA96;
}

.row.recipe-list-item .col-md-1 {
    display: grid;
    padding: 0;
    align-self: center;
    justify-self: center !important;
}

.recipe-list-item .col-md-2 {
    padding: 0;
    font-weight: bold;
}

.recipe-list-item .col-8 {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.recipe-list-item .col-md-9 {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.recipe-list-item .col-md-9 p{
    align-self: center;
    font-weight: bold;
    margin-left: 10px;
}

.recipe-list-item p {
    margin: 0;
    color: black
}

.recipe-list-item .col-12 {
    justify-content: center;
}

.page-link {
    color: #7ABA96 !important;
    
}

.page-link:hover {
    background-color: #d0e2d9 !important;
    border-color: green !important;
    color: #fff;
}

.page-item.active .page-link{
    background-color: #7ABA96 !important;
    border-color: green !important;
    color: #fff !important;
}


@media (min-width: 1000px) {
    .recipe-list-item {
      min-width: 1140px;
      min-height: 267px;
      align-items: center;
    }
  }