header,
nav {
    text-align: center;
}

hr.border {
    border-top: 1px solid #8A8070;
}

.nav-menu {
    text-decoration: none;
    margin: 8px;
    color: black;
}

.side-bar {
    text-align: center;
}

.about-me {
    
}

.author-image {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.main-container {
    padding: 1% 5%;
}

.row {
    display: flex;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

.post-container {
    padding: 4%;
}

.post-title {
    text-align: center;
    font-weight: bold;
}

.post-date {
    text-align: center;
    border-top: solid green 1px;
    border-bottom: solid green 1px;
}

.post-description {
    text-align: justify;
}

.post-image {
    max-width: 100%;
}

img {
    object-fit: contain;
}

.footer {
    height: 100%;
    background-color: black
}

.foot-menu {
    text-decoration: none;
    margin: 15px;
    line-height: 5;
    text-align: center;
    color:white
}