header,
nav {
    text-align: center;
}

.header-image {
    z-index: 10;
}

hr.border {
    border-top: 1px solid #305234;
}

.nav-menu {
    text-decoration: none;
    margin: 8px;
    color: #198648;
}

.nav-menu:hover {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.side-bar {
    text-align: center;
}

.about-descript {
    color: gray;
}

.author-image {
    max-width: 100%;
}

.advertisement {
    background: lightgray;
}

.adv-linked {
    background: #7ABA96;
}

.main-container {
    padding: 1% 5%;
}

.post-container {
    border: 1px solid #8ba890;
    border-radius: 10px;
    background-color: rgba(113, 158, 130, 0.6);
    padding: 4%;
}

h5 {
    text-align: center;
}

.post-title {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.post-title:hover {
    text-decoration: none !important;
    color: #7ABA96;
}

.post-date {
    text-align: center;
    border-top: solid green 1px;
    border-bottom: solid green 1px;
}

.post-description {
    text-align: justify;
}

.post-image {
    max-width: 100%;
}

img {
    object-fit: contain;
}

.icon {
    width: 50px;
}

.padding-delete {
    padding: 0;
}


.footer {
    height: 100%;
    background-color: black
}

.foot-menu {
    text-decoration: none;
    margin: 15px;
    line-height: 5;
    text-align: center;
    color: white
}

.foot-menu:hover {
    text-decoration: none;
    color: #7ABA96;
}


.recipe-list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 35px;
}

.recipe-list-item {
    margin-top: 15px;
    border: 2px solid #8ba890;
    border-radius: 10px;
    max-width: 1140px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    background-color: rgba(105, 141, 46, 0.3);
}
  
  
.recipe-list-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #7ABA96 !important;
    opacity: 0.3;
}

.recipe-list-item:hover .post-title {
    color: #7ABA96;
}

.row.recipe-list-item .col-md-1 {
    display: grid;
    padding: 0;
    align-self: center;
    justify-self: center !important;
}

.recipe-list-item .col-md-2 {
    padding: 0;
    font-weight: bold;
}

.recipe-list-item .col-8 {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.recipe-list-item .col-md-9 {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.recipe-list-item .col-md-9 p{
    align-self: center;
    font-weight: bold;
    margin-left: 10px;
}

.recipe-list-item p {
    margin: 0;
    color: black
}

.recipe-list-item .col-12 {
    justify-content: center;
}

.page-link {
    color: #7ABA96 !important;
    background: #a76f1c !important;
}

.page-link:hover {
    background-color: #d0e2d9 !important;
    border-color: green !important;
    color: #fff;
}

.page-item.active .page-link{
    background-color: #7ABA96 !important;
    border-color: green !important;
    color: #fff !important;
}


@media (min-width: 1000px) {
    .recipe-list-item {
      min-width: 1140px;
      min-height: 267px;
      align-items: center;
    }

    .recipe-image {
        min-width: 720px;
        z-index: 10;
    }

    .recipe-image-post {
        min-width: 716px;
    }

    .ingredients {
        min-width: 720px;
        max-width: 720px;
    }

    .ing-list {
        min-width: 720px;
        max-width: 720px;
    }
}

.recipe-all-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-image {
    max-width: 720px;
    border: 2px solid #7ABA96;
}

.recipe-title {
    color: #198648;
}

.ingredients {
    text-align: center;
    background-color: #d0e2d7;
    border: 2px solid #7ABA96;
    padding: 10px;
    margin: 10px;
}

.ing-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border: 2px solid #7ABA96;
    background-color: #d0e2d7;
    padding: 10px;
}

.instructions {
    text-align: left;
    margin-left: 1.5%;
    padding-top: 1%;
}

.steps {
    margin-left: 1%;
    padding: 1%;
}

.border2 {
    border-top: 1px solid black;
}


.button-check {
    display: block;
    padding-left: 5%;
    position: relative;
    cursor: pointer;
}

input[type=checkbox] {
    visibility: hidden;
}
  
.list-check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20%;
}
  
.button-check:hover input ~ .list-check {
    background-color: #7ABA96;
}
  
.button-check input:active ~ .list-check {
    background-color: #7ABA96;
}
  
.button-check input:checked ~ .list-check {
    background-color: green;
}

.darkmode-script {
    width: 125px;
    height: 55px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}

.darkmode-script:after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.darkmode-input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.darkmode-input:checked + .darkmode-script {
    background: #242424;
}

.darkmode-input:checked + .darkmode-script:after {
    left: 122px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}

.darkmode-script, .darkmode-script:after {
    transition: 0.3s;
}

.darkmode-script:active:after {
    width: 65px;
}

.background-theme  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: -10;
    transition: 3s;
}

.darkmode-input:checked ~ .background-theme {
    background: #242424;
}

.theme-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.theme {
    display: flex;
    position: absolute;
}

.darkmode-script svg {
    position: absolute;
    width: 120px;
    max-width: 45px;
    max-height: 45px;
    z-index: 100;
}

.darkmode-script .sun {
    left: 5px;
    top: 5px;
    color: #198648;
    transition: 3s;
}
.darkmode-script .moon {
    left: 75px;
    top: 5px;
    color: rgba(0, 0, 0, 0);
    transition: 3s;
}

.darkmode-input:checked + .darkmode-script svg.sun {
    color: rgba(0, 0, 0, 0);
}

.darkmode-input:checked + .darkmode-script svg.moon {
    color: #198648;
}

.bit-of-space {
    margin: 20px;
}

.lot-of-space {
    margin: 200px;
}

.contact-form {
    border: 2px solid #7ABA96;
    padding: 10px;
}