header,
nav {
    text-align: center;
}

hr.border {
    border-top: 1px solid #8A8070;
}

.nav-menu {
    text-decoration: none;
    margin: 8px;
    color: black;
}

.side-bar {
    display: inline-block;
    text-align: center;
}

.d-flex {
    display: flex;
}

.main-container {
    display: flex;
    padding: 1% 5%;
}
<<<<<<< HEAD

.row {
    display: flex;
}

.col-3 {
    width: 25%;
}

.col-6 {
=======
.dishes {
    text-decoration: none;
    margin: 8px;
    color: black;
    font-weight: bold;
  
img {
>>>>>>> cef3d1a5ecb0396ca34afa2e6d8479ce7e09a1cf
    width: 50%;
}

.col-9 {
    width: 75%;
}

.post-container {
    padding: 4%;
}

.post-title {
    text-align: center;
}

.post-date {
    text-align: center;
    border-top: solid green 1px;
    border-bottom: solid green 1px;
}

.post-description {
    text-align: justify;
}

.post-image {
    max-width: 100%;
}

img {
    object-fit: contain;
}